.alert-info{

}

.hidden-on-desktop {


}

.nav-links{

}

.nav-links>li>a{
  color: green;
  flex-direction: column;

}

.header-img{
  display: flex;


}


.main{

}

.sub-section{

}


/* screen sizes between 960px and 1200px */
@media screen and (min-width:992px) {

}